<div class="table-datatable">
    <div class="panel panel-default">
        <div class="panel-heading fs-bg-info">
            <h3 class="panel-title fs-color-white">Anexos</h3>
        </div>
        <div class="panel-body" id="anexosContainer">
            <!-- Anexos serão adicionados aqui -->
        </div>
        <div class="panel-footer text-right text-center ">
            <button type="button" id="addAnexo" class="btn btn-success btn-lg">Incluir Anexo</button>
        </div>
    </div>
</div>